#map {
	height: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#popup {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
overflow:auto
}
#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
#distanceForm {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
}
form {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
border:1px solid #FFCB00;
padding:10px 0;
cursor:pointer;
border-radius:5px
}
button {
width:10%;
height:45px;
border-radius:3px;
cursor:pointer
}