<!DOCTYPE html>
<html>
  <head>
    <title>Roam</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
  	<div id="popup">
  		<div id="distanceForm">
		<form action="#" id="form" method="post" name="form">
			<img id="close" src="{{ url_for('static', filename='close.png') }}" onclick="divHide()">
			<input id="distance" name="distance" placeholder="Distance in Miles" type="text">
			<input onclick="checkEmpty()" id="submit" value="Submit">
		</form>
		</div>
  	</div>
  	<button id="popupButton" onclick="divShow()">Enter Distance</button>
    <div id="map"></div>
    <script async defer    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQKXulRrBaytkpnJ2B-y__jcbA6c8U1lE&callback=initMap">
    </script>
  </body>
</html>